.container {
  height: 100vh;

  background: linear-gradient(rgba(11, 27, 63, 0.7), rgba(11, 27, 63, 0.7)),
              url("../../assets/fundo.png") no-repeat center center;

  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 85px;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 25px;
}

h2 span {
  color: #1a33ff;
  font-weight: 700;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.signup {

  margin-top: 20px;

  text-align: center;

  font-size: 14px !important;

  color: #666;

  font-weight: normal;
}

.signup span {

  color: #3d5afe;

  font-weight: bold;

  cursor: pointer;

  font-size: 14px !important;
}

.signup span:hover {

  text-decoration: underline;
}