*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#020617;
    overflow-x:hidden;
    font-family:'Segoe UI',sans-serif;
}

/* DASHBOARD */

.dashboard{
    display:flex;
    min-height:100vh;

    background:
    radial-gradient(circle at top right,#2563eb22,transparent 25%),
    radial-gradient(circle at bottom left,#06b6d422,transparent 20%),
    linear-gradient(
        135deg,
        #020617,
        #081028,
        #0f172a
    );

    color:white;
}

/* SIDEBAR */

.sidebar{
    width:280px;
    min-height:100vh;

    background:
    linear-gradient(
        180deg,
        #111827,
        #0f172a
    );

    border-right:
    1px solid rgba(255,255,255,0.06);

    padding:28px 22px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    position:fixed;
    left:0;
    top:0;

    z-index:1000;
}

/* LOGO */

.logo-box{
    margin-bottom:40px;
}

.logo{
    font-size:34px;
    font-weight:800;

    background:linear-gradient(
        90deg,
        #60a5fa,
        #06b6d4
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    letter-spacing:2px;

    margin-bottom:8px;
}

.logo-box p{
    color:#94a3b8;
    font-size:14px;
}

/* MENU */

.menu{
    display:flex;
    flex-direction:column;
    gap:14px;

    margin-top:10px;
}

.menu-btn{
    width:100%;

    padding:16px 18px;

    border:none;

    border-radius:16px;

    background:rgba(255,255,255,0.04);

    color:#cbd5e1;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    text-align:left;

    transition:0.3s;

    border:
    1px solid rgba(255,255,255,0.04);
}

.menu-btn:hover{
    background:#2563eb;
    color:white;

    transform:translateX(4px);
}

.menu-btn.active{
    background:
    linear-gradient(
        90deg,
        #2563eb,
        #3b82f6
    );

    color:white;

    box-shadow:
    0 10px 25px rgba(37,99,235,0.35);
}

/* FOOTER SIDEBAR */

.sidebar-footer{
    margin-top:40px;
}

/* PERFIL */

.perfil-box{
    display:flex;
    align-items:center;
    gap:14px;

    padding:18px;

    border-radius:18px;

    background:
    rgba(255,255,255,0.04);

    border:
    1px solid rgba(255,255,255,0.05);

    margin-bottom:18px;
}

.perfil-circle{
    width:52px;
    height:52px;

    border-radius:50%;

    background:
    linear-gradient(
        135deg,
        #2563eb,
        #06b6d4
    );

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:22px;
    font-weight:800;

    color:white;
}

.perfil-box h3{
    color:white;
    font-size:16px;
    margin-bottom:4px;
}

.perfil-box span{
    color:#94a3b8;
    font-size:13px;
}

/* BOTÃO SAIR */

.logout{
    width:100%;

    padding:15px;

    border:none;

    border-radius:16px;

    background:
    linear-gradient(
        90deg,
        #dc2626,
        #ef4444
    );

    color:white;

    font-weight:700;

    cursor:pointer;

    transition:0.3s;
}

.logout:hover{
    transform:translateY(-2px);

    box-shadow:
    0 12px 25px rgba(220,38,38,0.35);
}

/* CONTEÚDO */

.content{
    flex:1;

    margin-left:280px;

    padding:35px;
}

/* TOPBAR */

.topbar{
    margin-bottom:35px;
}

.topbar h1{
    font-size:46px;
    font-weight:800;

    margin-bottom:10px;
}

.topbar p{
    color:#94a3b8;
    font-size:16px;
}

/* CARDS */

.cards{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

    margin-bottom:35px;
}

.card{
    position:relative;

    overflow:hidden;

    padding:28px;

    border-radius:26px;

    background:
    linear-gradient(
        145deg,
        rgba(255,255,255,0.08),
        rgba(255,255,255,0.03)
    );

    border:
    1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(12px);

    transition:0.35s;
}

.card::before{
    content:"";

    position:absolute;

    width:140px;
    height:140px;

    border-radius:50%;

    top:-50px;
    right:-50px;

    background:#2563eb22;
}

.card:hover{
    transform:translateY(-8px);

    box-shadow:
    0 20px 40px rgba(0,0,0,0.35);
}

.card h3{
    font-size:20px;
    color:#cbd5e1;
    margin-bottom:15px;
}

.card p{
    font-size:52px;
    font-weight:800;
    color:white;
}

.card button{
    margin-top:22px;

    width:100%;
    height:52px;

    border:none;

    border-radius:15px;

    background:
    linear-gradient(
        90deg,
        #2563eb,
        #06b6d4
    );

    color:white;

    font-size:15px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.card button:hover{
    transform:scale(1.03);

    box-shadow:
    0 10px 25px rgba(37,99,235,0.35);
}

/* GRÁFICO */

.dashboard-grid{
    margin-top:10px;
}

.chart-box{
    padding:30px;

    border-radius:28px;

    background:
    linear-gradient(
        145deg,
        rgba(255,255,255,0.06),
        rgba(255,255,255,0.02)
    );

    border:
    1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(12px);
}

.box-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:25px;
}

.titulo-grafico{
    font-size:32px;
    color:#60a5fa;
}

.box-header span{
    color:#94a3b8;
}

/* MINI CHART */

.bottom-grid{
    margin-top:30px;
}

.mini-chart{
    padding:25px;

    border-radius:24px;

    background:
    linear-gradient(
        145deg,
        rgba(255,255,255,0.06),
        rgba(255,255,255,0.02)
    );

    border:
    1px solid rgba(255,255,255,0.08);
}

/* RESPONSIVO */

@media(max-width:1000px){

    .sidebar{
        width:100%;
        position:relative;
        min-height:auto;
    }

    .content{
        margin-left:0;
    }

    .dashboard{
        flex-direction:column;
    }
}

@media(max-width:700px){

    .content{
        padding:20px;
    }

    .topbar h1{
        font-size:34px;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .titulo-grafico{
        font-size:24px;
    }

    .menu-btn{
        font-size:14px;
    }

    .sidebar-top{
    display:flex;
    flex-direction:column;
}
}